



 #dh_style_28_1630460162226{width:84.04255319148936%;z-index:9999;position:absolute;top:20.3125px;left:13.308094713656388%;}   @media screen and (min-width:641px) and (max-width:1200px) {#dh_style_28_1630460162226{z-index:999;height:30px;}}   @media screen and (max-width:640px) {#dh_style_28_1630460162226{z-index:999;height:30px;}} #dh_style_28_1630460162226 > .view_contents{overflow:visible;}  #dh_style_28_1630460162226 .subMenuSet {line-height:30px;padding-top:20px;padding-bottom:40px;margin-bottom:0px;margin-top:0px;font-size:16px;background:#ffffff;height:30px;color:#002a5c;} #dh_style_28_1630460162226 .thrMenuSet {line-height:18px;padding-left:0px;padding-top:5px;padding-bottom:5px;} #dh_style_28_1630460162226 .mainMenuSet:hover {color:#1686f7;line-height:30px;font-size:18px;} #dh_style_28_1630460162226 #hot>a {color:#1686f7;line-height:30px;font-size:18px;} #dh_style_28_1630460162226 .subMenuSet:hover {color:#1686f7;margin-right:0px;margin-bottom:0px;padding-bottom:40px;font-size:16px;padding-top:20px;line-height:30px;height:30px;margin-top:0px;border-color:#1686f7;border-style:solid;border-width:2px;border-bottom:none !important;border-right:none !important;border-top:none !important;} #dh_style_28_1630460162226 .subCurSet {color:#1686f7;} #dh_style_28_1630460162226 .thrMenuSet:hover {color:#1686f7;} #dh_style_28_1630460162226 .thrCurSet {color:#1686f7;} #dh_style_28_1630460162226 .mainMenuSet {text-hover-color:#1686f7;color:#002a5c;padding-top:0px;padding-bottom:0px;font-size:18px;line-height:30px;height:30px;margin-bottom:0px;} #dh_style_28_1630460162226 #subCurSet {color:#1686f7;margin-right:0px;margin-bottom:0px;padding-bottom:40px;font-size:16px;padding-top:20px;line-height:30px;height:30px;margin-top:0px;border-color:#1686f7;border-style:solid;border-width:2px;border-bottom:none !important;border-right:none !important;border-top:none !important;} #dh_style_28_1630460162226 .dhAreaSet {line-height:44px;} #dh_style_28_1630460162226 #hot .aview {line-height:30px;font-size:18px;} @media screen and (min-width:641px) and (max-width:1200px) { #dh_style_28_1630460162226 .subMenuSet {padding-top:5px;padding-bottom:5px;line-height:28px;}} @media screen and (min-width:641px) and (max-width:1200px) { #dh_style_28_1630460162226 .thrMenuSet {padding-top:0px;padding-bottom:0px;}} @media screen and (min-width:641px) and (max-width:1200px) { #dh_style_28_1630460162226 .subMenuSet:hover {line-height:28px;padding-top:5px;padding-bottom:5px;}} @media screen and (min-width:641px) and (max-width:1200px) { #dh_style_28_1630460162226 #subCurSet {line-height:28px;padding-top:5px;padding-bottom:5px;}} @media screen and (max-width:640px) { #dh_style_28_1630460162226 .subMenuSet:hover {background:transparent;color:#0c5adb;font-size:14px;padding-top:0px;padding-bottom:0px;font-family:Microsoft YaHei;line-height:25px;border-width:2px;border-style:solid;border-color:#0976dd;height:25px;border-bottom:none !important;border-top:none !important;border-right:none !important;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;padding-left:10px;padding-right:0px;}} @media screen and (max-width:640px) { #dh_style_28_1630460162226 #subCurSet {background:transparent;color:#0c5adb;font-size:14px;padding-top:0px;padding-bottom:0px;font-family:Microsoft YaHei;line-height:25px;border-width:2px;border-style:solid;border-color:#0976dd;height:25px;border-bottom:none !important;border-top:none !important;border-right:none !important;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;padding-left:10px;padding-right:0px;}} @media screen and (max-width:640px) { #dh_style_28_1630460162226 .subMenuSet {color:#ffffff;background:transparent;padding-top:0px;padding-bottom:0px;font-size:14px;padding-left:10px;line-height:25px;height:25px;}} @media screen and (max-width:640px) { #dh_style_28_1630460162226 .mainMenuSet:hover {font-size:16px;padding-top:10px;padding-bottom:10px;color:#0c5adb;line-height:40px;height:40px;border-style:none;}} @media screen and (max-width:640px) { #dh_style_28_1630460162226 #hot>a {font-size:16px;padding-top:10px;padding-bottom:10px;color:#0c5adb;line-height:40px;height:40px;border-style:none;}} @media screen and (max-width:640px) { #dh_style_28_1630460162226 #hot .aview {font-size:16px;padding-top:10px;padding-bottom:10px;color:#0c5adb;line-height:40px;height:40px;border-style:none;}} @media screen and (max-width:640px) { #dh_style_28_1630460162226 .mainMenuSet {font-size:16px;padding-top:10px;padding-bottom:10px;line-height:40px;color:#ffffff;height:40px;}}

 #image_logo_1630459800557{width:18.325991189427313%;height:49px;position:absolute;top:10.8125px;left:0.6236233480176211%;z-index:9999;}   @media screen and (min-width:641px) and (max-width:1200px) {#image_logo_1630459800557{height:49px;}}   @media screen and (max-width:640px) {#image_logo_1630459800557{height:49px;}} #image_logo_1630459800557 > .view_contents{overflow:hidden;}  #comm_layout_header{height:70.8125px;z-index:99999;}   @media screen and (min-width:641px) and (max-width:1200px) {#comm_layout_header{}}   @media screen and (max-width:640px) {#comm_layout_header{height:59px;}} #comm_layout_header > .view_contents{max-width:1200px;overflow:visible;} 


 #copyright_style_01_1630575370754{width:83.33333333333334%;position:absolute;top:338px;left:5.125%;}   @media screen and (min-width:641px) and (max-width:1200px) {#copyright_style_01_1630575370754{left:8.324496288441145%;top:293px;}}   @media screen and (max-width:640px) {#copyright_style_01_1630575370754{width:100%;top:25px;left:0%;}} #copyright_style_01_1630575370754 > .view_contents{overflow:visible;} 


 #footerCustom_footerDh_01_1630579660451{width:43.416666666666664%;z-index:999;position:absolute;left:26.541666666666668%;top:25px;}   @media screen and (min-width:641px) and (max-width:1200px) {#footerCustom_footerDh_01_1630579660451{z-index:999;left:26.82926829268293%;width:56.9459172852598%;top:25px;}}   @media screen and (max-width:640px) {#footerCustom_footerDh_01_1630579660451{width:98%;z-index:999;top:0px;left:1%;}} #footerCustom_footerDh_01_1630579660451 > .view_contents{overflow:visible;}  #footerCustom_footerDh_01_1630579660451 .mainMenuSet {text-align:left;font-size:18px;padding-bottom:15px;color:#0c5adb;} #footerCustom_footerDh_01_1630579660451 .subMenuSet {font-size:16px;color:#ffffff;padding-bottom:10px;text-align:left;} #footerCustom_footerDh_01_1630579660451 .mainMenuSet:hover {color:#0c5adb;} #footerCustom_footerDh_01_1630579660451 #hot>a {color:#0c5adb;} #footerCustom_footerDh_01_1630579660451 #hot .aview {color:#0c5adb;} #footerCustom_footerDh_01_1630579660451 .subMenuSet:hover {color:#ffffff;} #footerCustom_footerDh_01_1630579660451 #subCurSet {color:#ffffff;} @media screen and (min-width:641px) and (max-width:1200px) { #footerCustom_footerDh_01_1630579660451 .dhAreaSet {padding-left:10px;padding-right:10px;margin-left:40px;margin-right:25px;}}
/*----------------------电脑板式样式----------------------*/
#footerCustom_footerDh_01_1630579660451{
	
}
/*----------------------平板板式样式----------------------*/
@media screen and (min-width:641px) and (max-width:1200px) {
	#footerCustom_footerDh_01_1630579660451{
		
	}
}
/*----------------------手机板式样式----------------------*/
@media screen and (max-width:640px) {
	#footerCustom_footerDh_01_1630579660451{
		
	}
}

 #text_style_01_1630580891744{width:18%;font-size:16px;color:#333;line-height:1.8;font-family:Microsoft YaHei;position:absolute;left:1.2334801762114538%;top:106.5px;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_style_01_1630580891744{left:0%;width:23.966065747614%;top:103.5px;}}   @media screen and (max-width:640px) {#text_style_01_1630580891744{width:50%;font-size:12px;color:#333;line-height:1.6;top:0px;left:25%;}}  #text_style_01_1630580891744>.view_contents {color:#ffffff;text-align:center;padding-left:0px;padding-right:0px;margin-left:6px;margin-right:6px;} @media screen and (min-width:641px) and (max-width:1200px) { #text_style_01_1630580891744>.view_contents {margin-left:0px;margin-right:0px;}}

 #image_style_13_1_1630581145175{width:27.166666666666668%;position:absolute;left:71.08333333333333%;top:103px;}   @media screen and (min-width:641px) and (max-width:1200px) {#image_style_13_1_1630581145175{left:71.26193001060446%;width:28.738069989395548%;top:32px;}}   @media screen and (max-width:640px) {#image_style_13_1_1630581145175{width:94%;top:0px;left:3%;}} #image_style_13_1_1630581145175 > .view_contents{overflow:visible;}  #image_style_13_1_1630581145175 .titleSet {color:#ffffff;line-height:25px;} #image_style_13_1_1630581145175 .imgSet {background:rgba(255,255,255,0);} @media screen and (min-width:641px) and (max-width:1200px) { #image_style_13_1_1630581145175 .titleSet {height:25px;}}

 #text_style_01_1630581224014{width:26.583333333333332%;font-size:16px;color:#333;line-height:1.8;font-family:Microsoft YaHei;position:absolute;left:71.08333333333333%;top:143.5px;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_style_01_1630581224014{left:71.82197773064686%;top:62px;width:214px;}}   @media screen and (max-width:640px) {#text_style_01_1630581224014{width:50%;font-size:12px;color:#333;line-height:1.6;top:32px;left:25%;}}  #text_style_01_1630581224014>.view_contents {color:#ffffff;text-align:left;padding-left:0px;padding-right:0px;margin-left:0px;margin-right:0px;font-weight:bold;font-size:18px;letter-spacing:1px;margin-top:-8px;margin-bottom:-6px;}

 #image_style_13_1_1630581558749{width:27.166666666666668%;position:absolute;left:71.08333333333333%;top:169px;}   @media screen and (min-width:641px) and (max-width:1200px) {#image_style_13_1_1630581558749{width:28.63202545068929%;left:71.08297985153764%;top:119px;}}   @media screen and (max-width:640px) {#image_style_13_1_1630581558749{width:94%;top:0px;left:0%;}} #image_style_13_1_1630581558749 > .view_contents{overflow:visible;}  #image_style_13_1_1630581558749 .titleSet {color:#ffffff;line-height:25px;} @media screen and (min-width:641px) and (max-width:1200px) { #image_style_13_1_1630581558749 .titleSet {padding-left:10px;}} @media screen and (min-width:641px) and (max-width:1200px) { #image_style_13_1_1630581558749 .imgSet {height:25px;}}

 #text_style_01_1630581574079{width:26.583333333333332%;font-size:16px;color:#333;line-height:1.8;font-family:Microsoft YaHei;position:absolute;left:71.08333333333333%;top:205px;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_style_01_1630581574079{left:71.29175503711559%;top:149px;}}   @media screen and (max-width:640px) {#text_style_01_1630581574079{width:50%;font-size:12px;color:#333;line-height:1.6;top:0px;left:0%;}}  #text_style_01_1630581574079>.view_contents {color:#ffffff;text-align:left;padding-left:0px;padding-right:0px;margin-left:6px;margin-right:6px;font-weight:normal;font-size:18px;letter-spacing:1px;margin-top:-10px;} @media screen and (min-width:641px) and (max-width:1200px) { #text_style_01_1630581574079>.view_contents {margin-left:0px;margin-right:0px;}}

 #image_style_01_1630580807962{width:17.885462555066077%;height:71px;position:absolute;left:3.039647577092511%;top:32px;z-index:9999;}   @media screen and (min-width:641px) and (max-width:1200px) {#image_style_01_1630580807962{}}   @media screen and (max-width:640px) {#image_style_01_1630580807962{height:64px;top:50px;left:47.205396475770925%;width:5.589207048458149%;}} #image_style_01_1630580807962 > .view_contents{overflow:visible;} 
 #div_a_includeBlock_1630575385385{width:100%;height:333px;box-sizing:border-box;position:absolute;top:0%;left:0%;}   @media screen and (min-width:641px) and (max-width:1200px) {#div_a_includeBlock_1630575385385{box-sizing:border-box;height:259px;}}   @media screen and (max-width:640px) {#div_a_includeBlock_1630575385385{width:100%;height:300px;box-sizing:border-box;top:0px;left:0%;display:none;}}  #comm_layout_footer{height:380px;z-index:99999;}   @media screen and (min-width:641px) and (max-width:1200px) {#comm_layout_footer{height:345px;}}   @media screen and (max-width:640px) {#comm_layout_footer{height:83px;}} #comm_layout_footer > .view_contents{max-width:1200px;}  #comm_layout_footer  {background:#070b3b;}
.menuStyle_28{width:100%; position:relative;}
.menuStyle_28 *{box-sizing: border-box;}
.menuStyle_28 .miniMenu *,
.menuStyle_28 .menuUl li *{
	-webkit-transition-duration:.2s; -moz-transition-duration:.2s; -o-transition-duration:.2s; transition-duration:.2s;
	-webkit-transition-property:background,height,padding; -moz-transition-property:background,height,padding; -moz-transition-property:background,height,padding; transition-property:background,height,padding;
	-webkit-transition-timing-function:ease-out; -moz-transition-timing-function:ease-out; -o-transition-timing-function:ease-out; transition-timing-function:ease-out;
}
.menuStyle_28 .dflex{display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;}
.menuStyle_28 .rflex{-webkit-box-flex: 1;-webkit-flex: 1;-ms-flex: 1;flex: 1; float: left\0;}
.menuStyle_28 ul,.menuStyle_28 li{padding:0;margin:0px;list-style:none}
.menuStyle_28 .menuLayout{position:relative; margin:0 auto;width:100%;}
.menuStyle_28 .menuLayout:after{content:''; display:block; clear:both;}
.menuStyle_28 .menuUl_box{position:relative; width:100%; text-align:center;}
.menuStyle_28 .menuUl{position:relative; width:100%; text-align:center;}
.menuStyle_28 .menuUl>li{position:relative;}
.menuStyle_28 .menuUl>li>a{ background: rgba(0,0,0,0.0); position: relative; text-decoration:none;font-size:16px;font-weight: bold; box-sizing:border-box; display:block;text-align:center; letter-spacing:normal; white-space:nowrap; color: #17233d; line-height:44px; padding: 0; padding: 0 1em\0;}
.menuStyle_28 .menuUl>li>a:hover{ color:#750406;}
.menuStyle_28 .menuUl #hot>a{color:#750406;}
.menuStyle_28 .menuUl>li>a span{display:block; width: 100%; text-align: center; color: rgba(0,0,0,.3); font-size: 12px;}
.menuStyle_28 .menuUl #hot>a span{color:inherit;}
.menuStyle_28 .menuLayout .miniMenu{display:none;}
.menuStyle_28 .menuUl02 {position: absolute; left: 50%; opacity: 0; display: none; width: 100%; height: 0; transform: translate(-50%,0); -webkit-transform: translate(-50%,0); -moz-transform: translate(-50%,0); -o-transform: translate(-50%,0);}
.menuStyle_28 .menuUl>li>#menuLogo{height: 85%;}

.menuStyle_28 .menuUl .rflex:hover .menuUl02{opacity: 1; display: block; height: auto;padding-top: 10px;}
.menuStyle_28 .menuUl.noHover .rflex:hover .menuUl02{display: none;}

.menuStyle_28 .menuUl02 .subMenu02 {position: relative;  color: #4d5158; font-size:14px; line-height: 40px; padding: 0 15px;background: #fff;}
.menuStyle_28 .menuUl02 .subMenu02#subCurSet{color:#750406;}
.menuStyle_28 .menuUl02 .subMenu02>a { display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;color: inherit; font-size:inherit; line-height: inherit;}
.menuStyle_28 .menuUl02 .subMenu02:hover {color:#750406;border-left: 2px solid #750406;background: #f7f7f7;}
.menuStyle_28 .menuUl02 .subMenu02>a .fa{float: right; line-height: inherit;}
.menuStyle_28 .menuUl02 .subMenu02:hover .menuUl03{display: block;}
.menuStyle_28 .menuUl02 .subMenu02:first-child{
	border-top-left-radius: 0px;border-top-right-radius: 0px;
}
.menuStyle_28 .menuUl02 .subMenu02:last-child{
	border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;
}
.menuStyle_28 .menuUl03{position: absolute; top: 0; left: 100%; display: none; }
.menuStyle_28 .menuUl03 .subMenu03{ line-height: 40px;margin-left: 10px;}
.menuStyle_28 .menuUl03 .subMenu03 a:hover{color:#750406; background: #f7f7f7;}
.menuStyle_28 .menuUl03 .subMenu03>a{ color: #17233d; background: #fff; display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;padding: 0 15px;}
.menuStyle_28 .menuUl03 .subMenu03:first-child a{
	border-top-left-radius: 0px;border-top-right-radius: 0px;
}
.menuStyle_28 .menuUl03 .subMenu03:last-child a{
	border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;
}
.menuStyle_28 .menuUl .rflex:hover .menuUl02::before{
	content: '';
	border-top:5px solid transparent;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-bottom:5px solid #fff;
	position: absolute;
    top: 0px;
	transform: translateX(-50%);
}
.menuStyle_28 .menuUl02 .arrow:hover::before{
		content: '';
		border-top:5px solid transparent;
		border-left:5px solid #fff;
		border-right:5px solid transparent;
		border-bottom:5px solid transparent;
		position: absolute;
		right: -10px;
		top: 50%;
		transform: translateY(-50%);
}
.menuStyle_28 .rflex { position: relative;}
.menuStyle_28 .maxWidth{margin: auto;}

.menuStyle_28 .subBox{position: absolute; left: 0; width: 100%; background: rgba(238, 238, 238, 0.85); display: none;}
.menuStyle_28 .subBox .subBoxContent{padding: 15px; text-align: left; overflow: hidden;}
.menuStyle_28 .subBox .subBoxContent .subItems{overflow: hidden; display: none;}
.menuStyle_28 .subBox .sublm{float: left; width: calc(100% - 440px); min-height: 10px;}
.menuStyle_28 .subBox .sublm>div{clear: both; overflow: hidden; margin: 8px 0;}
.menuStyle_28 .subBox .subImgsbox{float: left; width: 440px; height: 160px;}
.menuStyle_28 .subBox .subImgsbox>a{display: block; height: 100%; float: right; width: calc((100% - 20px)/2); margin-left: 20px;}
.menuStyle_28 .subBox .subImgsbox>a:last-child{margin-left: 0;}
.menuStyle_28 .subBox .subImgsbox>a>div.subImg{ position: relative; height: 100%; overflow: hidden; background-repeat: no-repeat; background-size: cover !important;}
.menuStyle_28 .subBox .subImgsbox>a>div.subImg span{position: absolute; bottom: 0; left: 0; width: 100%; display: block; padding: 5px; background: rgba(255,255,255,.8); color: #17233d; font-size: 12px;}
.menuStyle_28 .subBox p{overflow: hidden; float: left;}
.menuStyle_28 .subBox p:first-child{margin-right: 10px; width: 100px;}
.menuStyle_28 .subBox p:last-child{width: calc(100% - 110px);}
.menuStyle_28 .subBox .subMenu02{font-size: 14px; margin-bottom: 5px; clear: both; color: #17233d; line-height: 28px;}
.menuStyle_28 .subBox .subMenu02#subCurSet{color: #750406;}
.menuStyle_28 .subBox .subMenu02:hover,
.menuStyle_28 .subBox .subMenu02:active{color: #750406;}
.menuStyle_28 .subBox .subMenu03{float: left; margin: 5px 20px 5px 0; font-size: 12px; color: #666;}
.menuStyle_28 .subBox .subMenu03:hover,
.menuStyle_28 .subBox .subMenu03:active{color: #750406;}
.menuStyle_28 .subMenu03 #thrCurSet{color: #750406; background: #f7f7f7;}

.menuStyle_28 .imgIco{vertical-align: middle; display:inline-block; overflow:hidden; position:relative; padding:15px;  box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box;}
.menuStyle_28 .imgIco img{width:auto; height:100%; vertical-align: top;  position:absolute; top:50%; left:50%;  transform:translateY(-50%) translateX(-50%); -webkit-transform:translateY(-50%) translateX(-50%); -moz-transform:translateY(-50%) translateX(-50%); -ms-transform:translateY(-50%) translateX(-50%); -o-transform:translateY(-50%);}

@media screen and (max-width:640px) {
.menuStyle_28 .imgIco{ margin-right:10px;}
.menuStyle_28 .menuUl,
.menuStyle_28 .menuUl_box {display:none;}
.menuStyle_28 .menuScroll{height: calc(100% - 100px); width: 100%;}
.menuStyle_28 .menuScroll>.menuUlCopy{width:100%; height: 100%; overflow-x: hidden; overflow-y: scroll; }
.menuStyle_28 .menuLayout .miniMenu{display:block; position:relative; overflow:hidden; width: 100%; height:44px;}
.menuStyle_28 .miniMenu .leftBox{height: 100%;}
.menuStyle_28 .miniMenu .leftBox .sidebar{font-size:24px; line-height:44px; font-weight:normal;cursor:pointer;color:#4d5158; position:absolute; top:0; right:0px; width:44px; text-align:center;}
.menuStyle_28 .miniMenu .leftBox .sidebar .fa{font-size: inherit; line-height: inherit; color: inherit;}
.menuStyle_28 .miniMenu .leftBox .nav{width:100%; height:44px; }
.menuStyle_28 .miniMenu.Mslide .leftBox .nav{border-bottom: 1px solid rgba(0,0,0,.05);}
.menuStyle_28 .miniMenu .leftBox .menuUlCopy{padding:0 0 0 30px; clear: both;}
.menuStyle_28 .miniMenu .leftBox .menuUlCopy .menuUlCopy{display: none;padding: 0;}
.menuStyle_28 .miniMenu .leftBox .menuUlCopy .menuUlCopy .menuUlCopy{width: calc(100% - 50px);}
.menuStyle_28 .miniMenu .leftBox .menuUlCopy .menuUlCopy li a{padding-left: 30px;box-sizing: border-box;}
.menuStyle_28 .miniMenu .leftBox .menuUlCopy .menuUlCopy .menuUlCopy li a{padding-left: 60px;box-sizing: border-box;}
.menuStyle_28 .miniMenu .leftBox .menuUlCopy li{width:100%; overflow: hidden; color:#fff; font-size:12px; line-height:44px;}
.menuStyle_28 .miniMenu .leftBox .menuUlCopy li a{width:calc(100% - 50px); float: left; display:block; text-align:left;color:inherit; text-decoration:none; font-size:inherit; line-height:inherit; height: inherit; white-space: nowrap;overflow: hidden; text-overflow: ellipsis;border-bottom:1px solid rgba(0,0,0,.2);}
.menuStyle_28 .miniMenu .leftBox .menuUlCopy li#hot>a{border-bottom: 1px solid #fff;}
.menuStyle_28 .miniMenu .leftBox .menuUlCopy li .fa{color: inherit; font-size: inherit; float: left; width: 50px; text-align: center; line-height: inherit; background: rgba(0, 0, 0, 0.1);}
.menuStyle_28 .miniMenu .leftBox .menuUlCopy li .fa:active{background: rgba(0,0,0,.3);}
.menuStyle_28 .miniMenu .leftBox .menuUlCopy li.subMenuSet#subCurSet>a,
.menuStyle_28 .miniMenu .leftBox .menuUlCopy li#thrCurSet>a{border-bottom: 1px solid #fff;}
.menuStyle_28 .menuLayout .miniMenu.Mslide{height:100% !important; height:100vh !important; background:rgba(23, 25, 29, 0.95); position: fixed; width: 100%; top: 0; left: 0; -webkit-transition: all linear .3s; -moz-transition: all linear .3s; -o-transition: all linear .3s; transition: all linear .3s;}
.menuStyle_28 .menuLayout .miniMenu.Mslide .sidebar{color:#fff; background: rgba(0,0,0,.05);}
.menuStyle_28 .menuLayout .miniMenu.Mslide .nav a{display:none !important;}
}


        #dh_style_28_1630460162226 .menuUl .rflex:hover .menuUl02{width:auto;}
    

    #dh_style_28_1630460162226 .menuUl02 .subMenu02>a .fa{position: absolute;top: 0;right: 0;}

                                                @media screen and (min-width:640px) {
        #dh_style_28_1630460162226 .maxWidth{max-width:px;}
            /* .menuUl>li>#menuLogo 这种查找会失败改为下面这种 2019.5.29 */
        #dh_style_28_1630460162226 .menuUl li #menuLogo{
                                      height: px;
                                      margin-right: px;
                                      margin-left: px;
                                  }
                #dh_style_28_1630460162226 .subBox .sublm{width: calc(100% - (px + px) - 20px);} /*20px是两张图片间的间距*/
        #dh_style_28_1630460162226 .subBox .subImgsbox{width: calc((px + px) + 20px); height:px } /*20px是两张图片间的间距*/
                }
        
            .logoStyle *{box-sizing: border-box;}
.logoStyle { height:100%; width:100%; overflow: hidden; box-sizing: border-box;}
.logoStyle>a{overflow: hidden; width: 100%;height: 100%; display: block;}
.logoName{white-space: nowrap;}
.copyrightStyle01{text-align: center;color:#999;font-size: 14px;}
.copyrightStyle01 .copyright_view{display: inline;padding-right: 10px;}
.copyrightStyle01 .icp_view{display: inline-block;padding-right: 10px;}
.copyrightStyle01 .lw_view{display: inline-block;}
.copyrightStyle01 .lw_icon{width: 18px;vertical-align: top;margin-right: 4px;}
.copyrightStyle01 .line_view a{color:inherit;}

@media screen and (max-width: 640px){
    .copyrightStyle01{font-size: 12px;line-height: 1.75;}
}.footerCustom_01{width:100%; position:relative;}
.footerCustom_01 *{box-sizing: border-box;}
.footerCustom_01 .miniMenu *,
.footerCustom_01 .menuUl li *{
	-webkit-transition-duration:.2s; -moz-transition-duration:.2s; -o-transition-duration:.2s; transition-duration:.2s;
	-webkit-transition-property:background,height,padding; -moz-transition-property:background,height,padding; -moz-transition-property:background,height,padding; transition-property:background,height,padding;
	-webkit-transition-timing-function:ease-out; -moz-transition-timing-function:ease-out; -o-transition-timing-function:ease-out; transition-timing-function:ease-out;
}
.footerCustom_01 .dflex{display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-box-align: center; -webkit-flex-wrap: wrap;  -moz-flex-wrap: wrap;  -ms-flex-wrap: wrap;  -o-flex-wrap: wrap;  flex-wrap: wrap; }
.footerCustom_01 .rflex{-webkit-box-flex: 1;-webkit-flex: 1;-ms-flex: 1;flex: 1; float: left\0; white-space: nowrap; overflow: hidden;}
.footerCustom_01 ul,.footerCustom_01 li{padding:0;margin:0px;list-style:none}
.footerCustom_01 .menuLayout{position:relative; margin:0 auto;width:100%;}
.footerCustom_01 .menuLayout:after{content:''; display:block; clear:both;}
.footerCustom_01 .menuUl_box{position:relative; width:100%; text-align:center;}
.footerCustom_01 .menuUl{position:relative; width:100%; text-align:center;}
.footerCustom_01 .menuUl>li{position:relative;}
.footerCustom_01 .menuUl>li>a{ background: rgba(0,0,0,0.0); position: relative; text-decoration:none;font-size:16px; box-sizing:border-box; display:block;text-align:center; letter-spacing:normal; white-space:nowrap; color: #333d5f; line-height:44px; padding: 0; padding: 0 1em\0;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.footerCustom_01 .menuUl>li>a span{display:block; width: 100%; text-align: center; color: rgba(0,0,0,.3); font-size: 12px;}
.footerCustom_01 .menuUl #hot>a span{color:inherit;}
.footerCustom_01 .menuUl02 {left: 50%;  width: 100%;}
.footerCustom_01 .menuUl>li>#menuLogo{height: 85%;}


.footerCustom_01 .menuUl02 .subMenu02 {position: relative;  color: #333d5f; font-size:14px; line-height: 28px;}
.footerCustom_01 .menuUl02 .subMenu02>a { display: block; white-space: nowrap; overflow: hidden;color: inherit; font-size:inherit; line-height: inherit;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.footerCustom_01 .menuUl02 .subMenu02>a .fa{float: right;padding-right: 6px; line-height: inherit;}
.footerCustom_01 .menuUl02 .subMenu02:hover .menuUl03{display: block;}
.footerCustom_01 .menuUl02 .subMenu02:first-child{
	border-top-left-radius: 0px;border-top-right-radius: 0px;
}
.footerCustom_01 .menuUl02 .subMenu02:last-child{
	border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;
}
.footerCustom_01 .menuUl03{position: absolute; top: 0; left: 100%; display: none; }
.footerCustom_01 .menuUl03 .subMenu03{ line-height: 40px;margin-left: 10px;}
.footerCustom_01 .menuUl03 .subMenu03>a{ color: #17233d; background: #333d5f; display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;padding: 0 15px;}
.footerCustom_01 .menuUl03 .subMenu03:first-child a{
	border-top-left-radius: 0px;border-top-right-radius: 0px;
}
.footerCustom_01 .menuUl03 .subMenu03:last-child a{
	border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;
}
.footerCustom_01 .rflex { position: relative;}
.footerCustom_01 .maxWidth{margin: auto;}

.footerCustom_01 .subBox{position: absolute; left: 0; width: 100%; background: rgba(238, 238, 238, 0.85); display: none;}
.footerCustom_01 .subBox .subBoxContent{padding: 15px; text-align: left; overflow: hidden;}
.footerCustom_01 .subBox .subBoxContent .subItems{overflow: hidden; display: none;}
.footerCustom_01 .subBox .sublm{float: left; width: calc(100% - 440px); min-height: 10px;}
.footerCustom_01 .subBox .sublm>div{clear: both; overflow: hidden; margin: 8px 0;}
.footerCustom_01 .subBox .subImgsbox{float: left; width: 440px; height: 160px;}
.footerCustom_01 .subBox .subImgsbox>a{display: block; height: 100%; float: right; width: calc((100% - 20px)/2); margin-left: 20px;}
.footerCustom_01 .subBox .subImgsbox>a:last-child{margin-left: 0;}
.footerCustom_01 .subBox .subImgsbox>a>div.subImg{ position: relative; height: 100%; overflow: hidden; background-repeat: no-repeat; background-size: cover !important;}
.footerCustom_01 .subBox .subImgsbox>a>div.subImg span{position: absolute; bottom: 0; left: 0; width: 100%; display: block; padding: 5px; background: rgba(255,255,255,.8); color: #17233d; font-size: 12px;}
.footerCustom_01 .subBox p{overflow: hidden; float: left;}
.footerCustom_01 .subBox p:first-child{margin-right: 10px; width: 100px;}
.footerCustom_01 .subBox p:last-child{width: calc(100% - 110px);}
.footerCustom_01 .subBox .subMenu02{font-size: 14px; margin-bottom: 5px; clear: both; color: #17233d; line-height: 28px;}

.footerCustom_01 .imgIco{vertical-align: middle; display:inline-block; overflow:hidden; position:relative; padding:15px;  box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box;}
.footerCustom_01 .imgIco img{width:auto; height:100%; vertical-align: top;  position:absolute; top:50%; left:50%;  transform:translateY(-50%) translateX(-50%); -webkit-transform:translateY(-50%) translateX(-50%); -moz-transform:translateY(-50%) translateX(-50%); -ms-transform:translateY(-50%) translateX(-50%); -o-transform:translateY(-50%);}


	
#footerCustom_footerDh_01_1630579660451 .menuUl02 .subMenu02>a .fa{position: absolute;top: 0;right: 0;}

        /*pc*/
        #footerCustom_footerDh_01_1630579660451 .footerCustom_01 .menuUl>li{min-width: calc(100% / 3);max-width: calc(100% / 3);}
        @media screen and (max-width: 1024px){/*pad*/
            #footerCustom_footerDh_01_1630579660451 .footerCustom_01 .menuUl>li{min-width: calc(100% / 5);max-width: calc(100% / 5);}
        }
        @media screen and (max-width: 768px){/*mobi*/
            #footerCustom_footerDh_01_1630579660451 .footerCustom_01 .menuUl>li{min-width: calc(100% / 4);max-width: calc(100% / 4);}
        }
    .imgStyle_13_1{ width:100%; }
.imgStyle_13_1 *{ font-size:'微软雅黑'; }
.imgStyle_13_1 .imgTextUl{ display:flex; justify-content: space-between; flex-wrap: wrap; }
.imgStyle_13_1 .imgTextLi{ overflow: hidden; margin-bottom:2%;box-sizing: border-box;}
.imgStyle_13_1 li{ width: 32%;}
.imgStyle_13_1 .imgTextLi .left{width: 130px;}
.imgStyle_13_1 .imgTBox{ text-align: left; float:left; display:inline-block;height: 100%;width: 100%;}
.imgStyle_13_1 .imgTBox>img{ display: inline-block; width:100%;box-sizing: border-box;height: 100%;}
.imgStyle_13_1 .cont{ float:right; display:inline-block;width: calc(100% - 130px);}
.imgStyle_13_1 .name{  font-size:16px; line-height:2.5; padding-left:10px;word-break: break-word;}
.imgStyle_13_1 .subName{ font-size:12px; color:#666; padding-left:10px;word-break: break-word;}
.imgStyle_13_1 .left{position: relative;float: left;width: 130px;height: auto;}
.imgStyle_13_1 .image-box{position: absolute;left: 0;right: 0;top: 0;bottom: 0;overflow: hidden;}
.imgStyle_13_1 .cont .btn{padding-left: 10px;}
.imgStyle_13_1 .cont .btnSet{width: auto;height: 25px;line-height: 25px;display: block;border: 1px solid #7d7d7d;color: #333;text-align: center;margin-right: 40%;margin-top: 10px;word-break: break-all;overflow: hidden;}

@media screen and (max-width: 768px){
	.imgStyle_13_1 .imgTextLi{ width:100%;margin-bottom: 4%;}
	.imgStyle_13_1 .cont{width: calc(100% - 130px);}
	.imgStyle_13_1 .name{ font-size:16px;}
}
        /*pc*/
        #image_style_13_1_1630581145175  ul li{width: 100%;}
        #image_style_13_1_1630581145175  ul li.imgTextLi{margin-bottom:2%;}
        #image_style_13_1_1630581145175  ul li.imgTextLi .left{width: 25px;}
        #image_style_13_1_1630581145175  ul li.imgTextLi .cont{width: calc(100% - 25px);}
        @media screen and (max-width: 1024px){/*ipad*/
        #image_style_13_1_1630581145175  ul li{width: 49%;}
        #image_style_13_1_1630581145175  ul li.imgTextLi{margin-bottom:2%;}
        #image_style_13_1_1630581145175  ul li.imgTextLi .left{width: 25px;}
        #image_style_13_1_1630581145175  ul li.imgTextLi .cont{width: calc(100% - 25px);}
        }
        @media screen and (max-width: 768px){/*mobi*/
        #image_style_13_1_1630581145175  ul li{width: 100%;}
        #image_style_13_1_1630581145175  ul li.imgTextLi{margin-bottom:2%;}
                    #image_style_13_1_1630581145175  ul li.imgTextLi .left{width: 160px;}
            #image_style_13_1_1630581145175  ul li.imgTextLi .cont{width: calc(100% - 160px);}
                }
    .imgStyle_13_1{ width:100%; }
.imgStyle_13_1 *{ font-size:'微软雅黑'; }
.imgStyle_13_1 .imgTextUl{ display:flex; justify-content: space-between; flex-wrap: wrap; }
.imgStyle_13_1 .imgTextLi{ overflow: hidden; margin-bottom:2%;box-sizing: border-box;}
.imgStyle_13_1 li{ width: 32%;}
.imgStyle_13_1 .imgTextLi .left{width: 130px;}
.imgStyle_13_1 .imgTBox{ text-align: left; float:left; display:inline-block;height: 100%;width: 100%;}
.imgStyle_13_1 .imgTBox>img{ display: inline-block; width:100%;box-sizing: border-box;height: 100%;}
.imgStyle_13_1 .cont{ float:right; display:inline-block;width: calc(100% - 130px);}
.imgStyle_13_1 .name{  font-size:16px; line-height:2.5; padding-left:10px;word-break: break-word;}
.imgStyle_13_1 .subName{ font-size:12px; color:#666; padding-left:10px;word-break: break-word;}
.imgStyle_13_1 .left{position: relative;float: left;width: 130px;height: auto;}
.imgStyle_13_1 .image-box{position: absolute;left: 0;right: 0;top: 0;bottom: 0;overflow: hidden;}
.imgStyle_13_1 .cont .btn{padding-left: 10px;}
.imgStyle_13_1 .cont .btnSet{width: auto;height: 25px;line-height: 25px;display: block;border: 1px solid #7d7d7d;color: #333;text-align: center;margin-right: 40%;margin-top: 10px;word-break: break-all;overflow: hidden;}

@media screen and (max-width: 768px){
	.imgStyle_13_1 .imgTextLi{ width:100%;margin-bottom: 4%;}
	.imgStyle_13_1 .cont{width: calc(100% - 130px);}
	.imgStyle_13_1 .name{ font-size:16px;}
}
        /*pc*/
        #image_style_13_1_1630581558749  ul li{width: 100%;}
        #image_style_13_1_1630581558749  ul li.imgTextLi{margin-bottom:2%;}
        #image_style_13_1_1630581558749  ul li.imgTextLi .left{width: 25px;}
        #image_style_13_1_1630581558749  ul li.imgTextLi .cont{width: calc(100% - 25px);}
        @media screen and (max-width: 1024px){/*ipad*/
        #image_style_13_1_1630581558749  ul li{width: 49%;}
        #image_style_13_1_1630581558749  ul li.imgTextLi{margin-bottom:2%;}
        #image_style_13_1_1630581558749  ul li.imgTextLi .left{width: 25px;}
        #image_style_13_1_1630581558749  ul li.imgTextLi .cont{width: calc(100% - 25px);}
        }
        @media screen and (max-width: 768px){/*mobi*/
        #image_style_13_1_1630581558749  ul li{width: 100%;}
        #image_style_13_1_1630581558749  ul li.imgTextLi{margin-bottom:2%;}
                    #image_style_13_1_1630581558749  ul li.imgTextLi .left{width: 160px;}
            #image_style_13_1_1630581558749  ul li.imgTextLi .cont{width: calc(100% - 160px);}
                }
    
	#image_style_01_1630580807962 .CompatibleImg img{width:100%; height:100%}@media screen and (min-width:641px) and (max-width:1200px) {#image_style_01_1630580807962 .CompatibleImg img{width:100%; height:100%}}@media screen and (max-width:640px) {#image_style_01_1630580807962 .CompatibleImg img{width:100%; height:100%}}

.imgStyle { height:100%; width:100%; overflow: hidden; box-sizing: border-box;}
.imgStyle>a{overflow: hidden; width: 100%; height: 100%;}
.imgStyle img{box-sizing: border-box;}
        
				.bottomMenu{width: 100%; box-sizing:border-box; display: none;position:fixed;bottom:0; z-index:999999;}

				.bottomMenu ul{position: relative; box-sizing: border-box; width: 100%; height: 50px; background-color: #FFFFFF; border-top: 1px solid #ddd; box-shadow: 0 0px 6px rgba(0,0,0,.1); display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}
				.bottomMenu ul li{position:relative; box-sizing: border-box; -webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;}
				.bottomMenu ul li .menuItem{position: relative;}
				.bottomMenu ul li .menuIco{width: 26px; height: 26px; overflow: hidden; margin: 0 auto 4px;}
				.bottomMenu ul li .menuIco img{width: 100%; height: 100%;padding:2px 1px 0;box-sizing:border-box;}
				.bottomMenu ul li .menuName{font-size: 12px; white-space: nowrap; margin: auto; text-align: center; color: #666666; line-height: 1;font-family:Microsoft YaHei;}
				.bottomMenu ul li .submenuItems{position: absolute; bottom: 48px; z-index:999999; width: 100%; text-align: center; border: 1px solid #ddd; background-color: #fff; box-shadow: 0 0px 6px rgba(0,0,0,.1);}
				.bottomMenu ul li .submenuItems a{display: block; height: 36px; line-height: 36px; font-size: 12px; color: #333; border-bottom: 1px solid #ddd; }
				@media screen and (max-width:767px) {
					.bottomMenu{display: block;}
					
					body{padding-bottom:55px!important;}
				}
				